@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font: normal 100%/1.3 Raleway, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #e2e2e2;
}

header .logo {
  display: inline-block;
  width: 30%;

  margin-left: 35%;
  padding-top: 1.3rem;
}

header h1 {
  display: block;
  background-color: #e2e2e2;

  font-family: Courgette, cursive;
  text-align: center;

  margin: 0;
  padding: 1rem;
  padding-top: .5rem;
}

header nav {
  display: block;

  margin: 0;
}

header nav ul {
  background-color: #c2c2c2;
  border-bottom: #222 solid 3px;

  margin: 0;
  padding: 0;

}

header nav li {
  display: inline-block;
  list-style-type: none;
  background-color: #c2c2c2;
}

header nav a {
  display: inline-block;
  background-color: #c2c2c2;
  color: #000;

  text-decoration: none;
  font-weight: 500;

  padding: .5rem .575rem;
}

header nav a:hover {
  display: inline-block;
  background-color: #333;
  color: #fff;
}

.best-sale .img-flex {
  display: block;
  width: 100%;
  max-height: 345px;
}

.body h2 {
  background-color: #b70202;
  color: #f2f2f2;

  text-align: center;

  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.link-card {
  color: #000;
  text-decoration: none;
}

.products {
  background-color: #999;

  padding-top: 1rem;
  padding-bottom: 2rem;
}

.products img {
  display: block;
  max-width: 50%;

  margin-left: 25%;
  margin-top: 2rem;
  margin-bottom: 1rem;

}

.product-body {
  margin: 0;

  margin-right: 1rem;
}

.product-body > h3 {
  text-align: center;

  margin: 0;
  margin-top: .5rem;
}

.product-body > p {
  text-align: left;

  margin: 0;
  margin-top: .5rem;
  margin-left: 15%;
}


.product-body a {
  text-decoration: none;
  color: #000;
  font-family: Courgette, cursive;
  font-size: 1.3rem;
}

.product-body a:hover {
  color: #fff;
}

}

figure {
  margin-left: 1rem;
  margin-right: 1rem;
}

.about img {
  display: inline-block;
  width: 30%;

  margin-left: 1rem;
  margin-top: 1rem;
}

.about p {
  margin: 1rem 1rem 2rem;
}

.btn {
  margin-bottom: 2rem;
}

.btn a {
  background-color: #e2e2e2;
  color: #000;
  border: 2px;
  border-radius: 5px;

  font-family: Courgette, cursive;
  text-decoration: none;

  padding: 1rem .75rem;
  margin-left: 55%;
}

.btn a:hover {
  background-color: #333;
  color: #fff;
}

footer {
  display: block;
  background-color: #666;
  color: #f2f2f2;

  font-size: .75rem;

  padding-left: 1rem;
  padding-bottom: .5rem;
  margin-top: 1rem;
}

footer p {
  margin: 0;
  padding-top: .125rem;
  padding-bottom: .125rem;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  header nav a {
    padding-left: 1.21rem;
    padding-right: 1.21rem;
  }

  .products h3 {
    margin-left: 5%;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  header nav a {
    padding-left: 2.41rem;
    padding-right: 2.41rem;
  }

  .link-card .best-sale .img-flex {
    position: relative;
  }

  .body h2 {
    display: block;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    border-radius: 10px;
    max-width: 600px;

    padding: 1rem;

    position: absolute;
    right: 25%;
    bottom: -13%;
  }

  .products img {
    display: inline-block;
  }

  .about img {
    width: 25%;
  }

  .about p {
    background-color: #c2c2c2;
    border: 5px solid #000;
    border-radius: 10px;

    padding: 1rem;
  }

  .about {
    margin-right: 1rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }


  header nav a {
    padding: 1rem;
    padding-left: 4.35rem;
    padding-right: 4.35rem;
  }

  .body h2 {
    position: absolute;
    right: 32%;
    bottom: -38%;
  }

  .products img {
    margin-left: 25%;
  }

.products {
  padding-bottom: 27rem;
}

.product-1,
.product-2,
.product-3 {
  display: inline-block;
  float: left;
  width: 33.3333%;

  border: 4px solid #000;
  border-radius: 10px;
  min-height: 475px;
}

.product h3,
.product p {
  text-align: left;
}

  .about img {
    width: 15%;
  }

  .about p {
    float: right;
    max-width: 700px;
  }

  .btn a {
    display: inline-block;
    margin-left: 75%;

}
