@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font: normal 100%/1.3 Raleway, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #e2e2e2;
}

header .logo {
  display: inline-block;
  width: 30%;

  margin-left: 35%;
  padding-top: 1.3rem;
}

header h1 {
  display: block;

  font-family: Courgette, cursive;
  text-align: center;

}

.nav-bar {
  box-sizing: content-box;

  margin: 0 auto;
  padding-left: 0;
}

.nav-bar ul {
  text-align: center;
  background-color: #d1d1d1;

  margin: 0 auto;
  padding: 0;
  padding-top: 1rem;
}

.nav-bar li {
  display: inline-block;

  margin-bottom: 1rem;
}

.nav-bar a {
  text-decoration: none;
  list-style-type: none;
  font-weight: normal;
  max-width: 24%;

  border: 2px;
  border-radius: 4px;

  color: #000;

  padding: .5rem;

}

.nav-bar a:hover {
  background-color: #b70202;
  color: #fff;
}

.best-sale .img-flex {
  display: block;
  width: 100%;
  max-height: 345px;
  border-bottom: 7px solid #000;
}

.link-card-content h2 {
  background-color: #b70202;
  color: #f2f2f2;

  text-align: center;

  margin: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.link-card {
  color: #000;
  text-decoration: none;
}

.products {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.products img {
  display: block;
  max-width: 50%;

  margin-left: 25%;
  margin-top: 2rem;
  margin-bottom: 1rem;

}

.product-1,
.product-2,
.product-3 {
  border-bottom: 1px solid #333;
  margin: auto 1rem;
}

.product-body {
  margin: 0 auto;

  margin-right: 1rem;
}

.product-body > h3 {
  text-align: center;

  margin: 0 auto;
  margin-top: .5rem;
}

.product-body > p {
  text-align: left;

  margin: 0 auto;
  margin-top: .5rem;
  margin-left: 15%;
  padding-bottom: 1rem;
}

.product-body a {
  text-decoration: none;
  color: #000;
  font-family: Courgette, cursive;
  font-size: 1.3rem;
}

.product-body a:hover {
  color: #b70202;
}

figure {
  margin-left: 1rem;
  margin-right: 1rem;
}

.about img {
  display: inline-block;
  width: 30%;

  margin-left: 1rem;
  margin-top: 1rem;
}

.about p {
  display: block;
  margin: 1rem 1rem 2rem;
}

.btn {
  margin-bottom: 2rem;
}

.btn a {
  background-color: #e2e2e2;
  color: #000;
  border: 2px;
  border-radius: 5px;

  font-family: Courgette, cursive;
  text-decoration: none;

  padding: 1rem .75rem;
  margin-left: 5%;
}

.btn a:hover {
  background-color: #333;
  color: #fff;
}

.logo-footer {
  display: block;

  width: 15%;

  margin-left: 43%;
  margin-top: .5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.contact {
  background-color: #666;
}

.contact .body {
  text-align: center;
}

.contact p {
  margin: 0;
  padding-bottom: 1rem;
}

.contact-us {
  font-family: Courgette, cursive;
  font-size: 1rem;
  color: #f2f2f2;

  padding: 0;
  margin: 0;
}

.contact .body ul {
  text-align: center;
  border-top: 1px solid #f2f2f2;

  padding: 0;
  padding-bottom: 2rem;
  padding-top: .5rem;
  margin: auto 2rem;
}

.contact .body li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  padding: .25rem .5rem;
}

.contact .body a {
  display: inline-block;
  text-decoration: none;
  color: #f2f2f2;
  font-size: 1rem;
}

.contact a:hover {
  color: #b70202;
}

footer {
  display: block;
  background-color: #333;
  color: #f2f2f2;

  font-size: .75rem;

  padding-left: 1rem;
  padding-bottom: .5rem;

}

footer p {
  display: block;
  text-align: center;

  margin: 0 auto;
  margin-bottom: .5rem;
  padding-top: 1rem;

}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .products h3 {
    margin-left: 5%;
  }

  .about img {
    width: 25%;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .nav-bar li {
    margin-left: 1rem;
  }

  .nav-bar a {
    padding: .5rem 1rem;
  }

  .best-sale {
    position: relative;
  }

  .link-card-content h2 {
    display: block;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    border-radius: 10px;

    padding: .5rem 1rem;

    position: absolute;
    width: 52%;
    right: 9rem;
    bottom: 1rem;

  }

  .products img {
    display: inline-block;
  }

  .about-page {
    background-color: #c2c2c2;
    border: 3px solid #000;
    border-radius: 10px;

    margin: 6rem 3rem 6rem 2rem;
  }

  .about img {
    float: left;
    width: 20%;

    margin-right: 1.5rem;
  }

  .about p {
    display: block;
    float: left;
    width: 65%;

    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .btn a {
    margin-left: 31%;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .nav-bar li {
    margin-left: 2rem;
  }

  .nav-bar a {
    padding: .75rem 1.5rem;
    font-size: 1.3rem;
  }

  .link-card-content {
    position: absolute;
    width: 100%;
    right: 4rem;
    bottom: 2rem;
  }

  .products img {
    margin-left: 25%;
  }

  .products {
    padding-bottom: 27rem;
  }

  .product-1,
  .product-2,
  .product-3 {
    display: inline-block;
    float: left;
    width: 33.3333%;
    border-bottom: none;
    margin: auto;
    height: 25rem;
  }

  .product-1,
  .product-2 {
    border-right: 1px solid #000;

  }

  .product h3,
  .product p {
    text-align: left;
  }

  .about-page {
    margin: 6rem 3rem 6rem 1rem;
  }

  .about img {
    float: left;
    width: 15%;
  }

  .about p {
    float: left;
    max-width: 700px;
  }

  .btn a {
    display: inline-block;
    margin-left: 23%;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.6;
  }

  header .logo {
    display: inline-block;
    width: 15%;

    margin: auto 2rem 1rem 15rem;
  }

  header h1 {
    display: inline-block;
    font-size: 3rem;
    float: right;
    z-index: 1000;

    margin-top: 4rem;
    margin-right: 16rem;
  }

  .best-sale {
    display: block;
    width: 100%;
    max-height: 500px;
    border-bottom: 7px solid #000;
  }

  .link-card-content h2 {
    display: block;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    border-radius: 10px;

    padding: .5rem 1rem;

    position: absolute;
    width: 100%;
    right: -4rem;
    bottom: 2rem;
  }

  .product-1,
  .product-2,
  .product-3 {
    height: 28rem;
  }

  .product-1,
  .product-3 {
    background-color: #c2c2c2;
  }

  .btn a {
    display: inline-block;
    margin-left: 20%;
  }

}

@media only screen and (min-width: 95em) {

  html {
    font-size: 140%;
    line-height: 1.7;
  }

  .about-page {
    background-color: #c2c2c2;
    border: 3px solid #000;
    border-radius: 10px;
    margin: 6rem 3rem 6rem 1rem;
  }

  .about img {
    float: left;
    width: 15%;

    margin-right: 1.5rem;
  }

  .about p {
    display: inline-block;
    float: left;
    width: 65%;

    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .btn a {
    display: inline-block;
    margin-left: 22%;
  }

}

@media only screen and (min-width: 130em) {

  html {
    font-size: 150%;
    line-height: 1.8;
  }

  header .logo {
    margin-left: 25rem;
  }

  header h1 {
    margin-right: 20rem;
    margin-top: 5rem;
  }

  .about img {
    width: 15%;
  }

  .about p {
    display: inline-block;
    float: left;
    width: 65%;

    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .about-page {
    margin-left: 5rem;
    margin-right: 25rem;
  }

  .btn a {
    display: inline-block;
    margin-left: 22%;
  }

}
